<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Library "Flower"</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="book_info_reader.css" type="text/css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	
</head>

<body class="text-center">
	<header>
		<a th:href="@{/home_page}">
			<h1>Library "Flower" </h1>
		</a>
        <div class="user-actions">
             <form action="#" th:action="@{/my_books}" method="get">
                <button class="btn btn-primary">My Books</button>
            </form>
            
			<form action="#" th:action="@{/logout}" method="get">
                <button class="btn btn-danger">Logout</button>
			</form>
            
        </div>
    </header>
        <form class="form_book" method="POST" th:action="@{'/book/' + ${book.id}}">
                <label>Book title:</label>
                <label th:text="${book.title}"></label>
                <br>
				<label>Authors:</label>
                <label th:text="${book.author}"></label>
                <br>
				<label>Publishing house:</label>
                <label th:text="${book.publishing_house}"></label>
                <br>
				<label>Year of publication:</label>
                <label th:text="${book.year_of_publication}"></label>
                <br>
				<label>ISBN:</label>
                <label th:text="${book.isbn}"></label>
                <br>
				<label>Number of free copies:</label>
                <label th:text="${book.num_of_copies}"></label>
                <br>			   
                <button class="btn btn-lg btn-primary btn-block" id="takeBookButton" type="submit">Take a Book</button>			
            <br>
        </form>
</body>
</html>
